$color_1: var(--primary-color);
$color_2: var(--a-color);
$color_3: var(--a-visited);
$color_4: var(--a-activ);
$color_5: white;
$font-family_1: "Sixtyfour", sans-serif;
$font-family_2: inherit;
$background-color_1: var(--body-background-color);
$background-color_2: var(--button-background-color);
$background-color_3: var(--grid-item-color);

/* Define the CSS keyframes for the grow and shrink animation */
@keyframes growShrinkAnimation {
	0%,100% {
		transform: scale(1);
/* Initial and final size is 100% */
	}
	50% {
		transform: scale(1.5);
/* Grow to 150% halfway through the animation */
	}
}
/* start grid fallback */
/* end grid fallback */
/* Optional: Define additional breakpoints for further adjustments */
* {
	box-sizing: border-box;
}
&:root {
  --primary-color: rgb(0, 0, 0);
	--a-color: #2719a0;
	--a-visited: #1967ce;
	--body-background-color: rgb(199, 197, 197);
	--a-activ: #c20f3c;
	--button-background-color: #4c17ad;
	--grid-item-color: lightgray;
}
body {
	background-color: $background-color_1;
	font-family: $font-family_1;
	font-weight: 450;
	font-size: 16px;
	line-height: 1.5;
	padding: 20px;
}
h1 {
	color: $color_1;
	font-size: 30px;
	font-weight: 700;
	padding: 10px;
	transition: transform 0.3s ease;
	&:hover {
		transform: scale(1.05);
	}
}
a {
	color: $color_2;
	font-size: 16px;
	transition: transform 0.3s ease;
	display: inline-block;
	&:hover {
		text-decoration: none;
		transform: scale(1.2);
	}
	&:focus {
		text-decoration: none;
		transform: scale(1.2);
	}
	&:visited {
		color: $color_3;
	}
	&:active {
		color: $color_4;
	}
}
.maininfo {
	padding: 20px;
}
footer {
	padding: 20px;
	margin-top: auto;
}
.img-logo {
	width: 15%;
	height: 10%;
}
.laptop__SVG__container {
	display: flex;
	align-items: center;
	justify-content: center;
}
.about-me {
	display: flex;
	align-items: center;
	flex-direction: column;
}
button {
	border: none;
	font-family: $font-family_2;
	background-color: $background-color_2;
	color: $color_5;
	text-decoration: none;
	padding: 10px;
	border-radius: 3px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.3);
	transition: transform 0.5s ease, padding 0.3s ease, font-size 0.3s ease;
	&:hover {
		cursor: pointer;
		opacity: 0.8;
		transform: scale(1.02);
		padding: 15px;
		font-size: 12px;
	}
	&:focus {
		cursor: pointer;
		opacity: 0.8;
		transform: scale(1.02);
		padding: 15px;
		font-size: 12px;
	}
}
#laptop__SVG {
	animation: growShrinkAnimation 2s ease-in-out 2;
}
.header-bar {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 30px;
}
.navigation-list__item--active {
	text-decoration: none;
}
.navigation-list {
	list-style-type: none;
	li {
		display: inline-block;
		margin-left: 15px;
	}
}
.page-footer {
	clear: both;
	display: flex;
	flex-direction: column;
	text-align: center;
	transition: transform 0.3s ease, padding 0.3s ease, font-size 0.3s ease;
	&:hover {
		transform: scale(1.05);
		padding: 15px;
		font-size: 18px;
	}
}
.footer-button {
	width: 20%;
	justify-content: center;
}
.contact-form {
	text-align: center;
}
.contact-form-input {
	text-align: center;
}
.main-contact {
	display: flex;
	flex-direction: column;
}
.grid__item {
	display: inline-block;
	width: 33%;
	transition: transform 0.3s ease;
	background-color: $background-color_3;
	width: auto;
	min-height: auto;
	margin: 0;
	&:hover {
		transform: scale(1.05);
	}
	&:last-child {
		grid-template-columns: 1fr 1fr;
	}
}
@supports {
	(display: {
		grid) {
			.grid { display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-gap: 15px;
			margin: 0;
		}
	}
}
@media all and (max-width: 500px) {
	.grid {
		grid-template-columns: 1fr;
	}
}
@media all and (min-width: 500px) and (max-width: 750px) {
	.grid {
		grid-template-columns: 1fr 1fr;
	}
}
@media all and (max-width: 750px) {
	.grid {
		grid-gap: 10px;
	}
	.grid__item {
		&:last-child {
			grid-column: auto / auto;
			grid-row: auto / auto;
		}
	}
	h1 {
		font-size: 20px;
	}
}
@media screen and (max-width: 768px) {
	.grid-container {
		grid-template-columns: 1fr;
	}
}
@media screen and (max-width: 480px) {
	.grid-container {
		grid-template-columns: 1fr;
	}
}
